<!-- ============================================== -->
<!-- HTML: BUSCADOR DE DOMINIOS NIC.AR              -->
<!-- ============================================== -->

<div class="nic-container bg-arg-negro-light p-t-0" id="buscador-dominios-nic">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-11 p-l-1 text-left">
                <h1 class="m-b-1 h5 font-sans-serif">Encontrá, registrá y empezá a crear.</h1>

                <form id="form-buscar-dominio" class="nic-search-box" onsubmit="return false;">
                    <div class="nic-input-wrapper">
                        <input type="text" class="form-control font-serif" id="input-dominio" 
                               placeholder="" autocomplete="off" aria-label="Nombre del dominio">
                    </div>
                    
                    <div class="nic-action-group bg-gray">
                        <select class="form-control form-select-minimal" id="select-tld">
                                <option value=".ar">.ar</option>
                                <option value=".com.ar">.com.ar</option>
                                <option value=".net.ar">.net.ar</option>
                                <option value=".gob.ar">.gob.ar</option>
                                <option value=".int.ar">.int.ar</option>
                                <option value=".mil.ar">.mil.ar</option>
                                <option value=".musica.ar">.musica.ar</option>
                                <option value=".org.ar">.org.ar</option>
                                <option value=".tur.ar">.tur.ar</option>
                                <option value=".seg.ar">.seg.ar</option>
                                <option value=".senasa.ar">.senasa.ar</option>
                                <option value=".coop.ar">.coop.ar</option>
                                <option value=".mutual.ar">.mutual.ar</option>
                                <option value=".bet.ar">.bet.ar</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary nic-btn m-t-05" id="btn-buscar">
                        Buscar
                    </button>
                </form>

                <!-- Avisos informativos según zona -->
                <div id="avisos-zona" class="m-t-2" style="display: none;"></div>

                <div id="loader-dominio" class="m-t-3 text-center" style="display: none;">
                    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <p class="m-t-1">Buscando disponibilidad...</p>
                </div>
                
                <!-- Resultados -->
                <div id="resultado-dominio" class="m-t-3" style="display: none;">


                    <!-- Detalles del dominio -->
                    <div id="detalles-dominio" style="display: none;">
                        <div class="panel panel-default nic-resultados">

                            <div class="panel-body">
                            <h4 class="panel-title h3 m-b-2">Resultados de la búsqueda</h4>

                    <!-- Alert de estado -->
                    <div id="alert-resultado" class="col-md-8 col-md-offset-2"></div>
                    <div class="clearfix"></div>

                    <p>Debajo encontrarás los datos del dominio. Si no son tuyos y tenés mejor derecho o interés legítimo sobre este dominio, podés iniciar una <a href="https://www.argentina.gob.ar/disputar-un-dominio-de-internet">Disputa</a>.</p>
                    <p class="m-t-1">¿Querés registrar otro nombre? Te sugerimos buscar uno que te represente.</p>

                            <h4 class="panel-title h4 m-t-2">Datos del dominio</h4>
                    <hr class="m-t-0">


                                <dl class="dl-horizontal">
                                    <dt>Dominio:</dt>
                                    <dd id="dato-dominio">-</dd>

                                    <dt>Titular:</dt>
                                    <dd id="dato-titular">-</dd>

                                    <dt>CUIL/CUIT:</dt>
                                    <dd id="dato-cuil-cuit">-</dd>

                                    <dt>Estado:</dt>
                                    <dd id="dato-estado">-</dd>

                                    <dt>Fecha de registro:</dt>
                                    <dd id="dato-registro">-</dd>

                                    <dt>Fecha de expiración:</dt>
                                    <dd id="dato-expiracion">-</dd>

                                    <dt>Última modificación:</dt>
                                    <dd id="dato-modificacion">-</dd>
                                </dl>

                                <div id="seccion-nameservers" style="display: none;">
                                    <h5 class="m-t-2">Servidores de nombres (Nameservers)</h5>
                                    <ul id="lista-nameservers" class="list-unstyled"></ul>
                                </div>

                                <div id="seccion-dnssec" style="display: none;">
                                    <h5 class="m-t-2">DNSSEC</h5>
                                    <p><span class="label label-success">Zona firmada</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>